@import './base.scss';

#results{
  pre {
    max-height: 40vh;
    border: 1px solid black;
    padding: 20px;
    
    div {
      padding: 2px 0;
    }
  }
}
#logo{
  width: 100%;
  display: flex;
  justify-content: center;
}